

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.loginButton0
{
  background-color: teal;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2.7vmin);
  max-width: 30vh;
  color: navy;
}

.loginButton1
{
  background-color: #d86106;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2.7vmin);
  color: navy;
  max-width: 30vh;
}

.login0
{
  display: none;
}

.login1
{
  background-color: teal;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: navy;
  width: 25vh;
}

.signup0
{
  display: none;
}
.signup1
{
  background-color: teal;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
  width: 25vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: navy;
}

.App-link {
  color: #61dafb;
}

h3{
  text-align: center;
  padding: 10px;
  color: black;
}

.topnav {
font-family: Adventure;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background-color: #324eb5;
}

.topnav a 
{
  float: left;
  color: #f2f2f2;
  background-color: #324eb5;
  text-align: center;
  padding: 0px 0px;
  font-size: 30px;
  min-width: 100px;
  width: 220px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.topnav a:hover 
{
  background-color: #1c73ff;
  color: white;
  min-width: 100px;
  width: 220px;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.topnav a.active 
{
  float: left;
  text-align: left;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #d86106;
  color: black;
  text-align: center;
}

input{
  text-align: center;
}

.logo { grid-area: logo;
     background-color:#324eb5;
}

.header { grid-area: header;
     background-color:#324eb5;
}

.menu { grid-area: menu;
  background-color: #324eb5; 
  height: 90vh;
}

.main { grid-area: main;
  background-color: white;
  padding: 0px;
  left: -20px;
}

.profile { grid-area: logout;
     background-color:#324eb5;
}

.padding { grid-area: padding;
     background-color:#324eb5;
     padding-top: 100px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'padding padding padding padding padding padding padding padding'
    'logo header header header header logout logout logout'
    'menu main main main main main main main'
    'menu main main main main main main main'
    'menu main main main main main main main'
    'menu main main main main main main main';
	
  grid-gap: 0px;
  background-color: #282c34;
  padding: 0px;
}

.grid-container > div {
  text-align: center;
  padding: 0px 0px;
  font-size: 30px;
}



.image{
  position: relative;
}

.tooltip {
  position: absolute;
  color: #fff;
  padding: 10px;
  background: rgba(0,0,0,0.8);
  transform: translate3d(-50%, -50%, 0);
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
}